.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

.registerBox {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px; /* Ensure the box doesn't get too wide */
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

input, .react-datepicker-wrapper, .react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.customDatePickerWraper {
  width: 100%;
}

.react-datepicker__input-container {
  display: block;
}

button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}
